# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

3+3

2*5

10-3

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60 
200/60

3.3333333333333335

## Author
Laura